<%= render 'layouts/navbar' %>
<div class='container white-container'>
  <div class="row">
    <div class="col col-lg-12">
      <h2><%= @pickup.donor_name %></h2>
      <p><%= link_to "Edit", edit_pickup_path %></p>
    </div>
  </div>
</div>