<%= render 'layouts/navbar' %>

<script>
  $(document).ready(function() {
    var events = [
          {
            title : 'pickupday1',
            start  : '2016-04-11',
            rendering : 'background',
            allDay : true,
            color : 'green'
          },
          {
            title : 'pickupday1',
            start  : '2016-04-13',
            rendering : 'background',
            allDay : true,
            color : 'green'
          },
          {
            title : 'pickupday1',
            start  : '2016-04-15',
            rendering : 'background',
            allDay : true,
            color : 'green'
          },
          {
            title : 'pickupday1',
            start  : '2016-04-12',
            rendering : 'background',
            allDay : true,
            color : 'red'
          }
        ];
    
    $('#calendar').fullCalendar({
        weekends: false,
        defaultView: 'month',
			  editable: true,
        businessHours: {
            start: '7:00',
            end: '18:00', 
            dow: [ 1, 2, 3, 4, 5 ]
        },
        customButtons: {
          addEvent: {
            text: 'Add Event',
            click: function() {
                var title = prompt("Enter a title for the event.");
                var start = prompt("Enter a START date/time (yyyy-mm-ddThh:mm:ss)");
                var end = prompt("Enter a END date/time (yyyy-mm-ddThh:mm:ss)");
                var color = prompt("Enter common color like 'green' or 'blue'.");
                var obj = { 'title': title, 'start': start, 'end': end, 'allDay': false, 'color': color };
                
                events.push(obj);
                
                $('#calendar').fullCalendar('addEventSource', obj);
                
            }
          }
        },
        header: {
          left:   'title',
          center: '',
          right:  'today prev,next'
        }
    })
    
     $('#calendar').fullCalendar('addEventSource', events);
    
  });
  </script>

<div class="container white-container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-1">
            <h5 class="text-center">Select a day to add it to the schedule.</h5>
            <div id='calendar' style='width:100%; height:100%; padding-bottom:10%;'></div>
        </div>
        <div class="col-xs-6 col-xs-offset-1">
            <br />
            <br />
            <p>To add a day, either select a day on the calendar or manually input the day below: </p>
            <div class="row">
                <div class="col-xs-9 col-xs-offset-1">
                    <form>
                        <div class="form-group">
                            Month:
                            <select class="extra-right-margin form-control">
                                <option value="January">January</option>
                                <option value="February">February</option>
                                <option value="March">March</option>
                                <option value="April">April</option>
                                <option value="May">May</option>
                                <option value="June">June</option>
                                <option value="July">July</option>
                                <option value="August">August</option>
                                <option value="September">September</option>
                                <option value="October">October</option>
                                <option value="November">November</option>
                                <option value="December">December</option>
                            </select>
                        </div>
                        <div class="form-group">
                            Year:
                            <select class="form-control">
                                <option value="2016">2016</option>
                                <option value="2015">2015</option>
                                <option value="2014">2014</option>
                            </select>
                        </div>
                        <br>
                        <div class="form-group">
                            <a href="/schedule/schedule1">
                                <btn class="btn btn-success btn-wide extra-right-margin">Submit</btn>
                            </a>
                            <a href="/schedule/schedule1">
                                <btn class="btn btn-danger btn-wide">Cancel</btn>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>