<!DOCTYPE html>

<head>
    <!-- Viewport -->
    <meta name='viewport' content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Style links -->
    <link type='text/css' rel="stylesheet" href='/boot/css/bootstrap.min.css'>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js" defer></script>
    <script src="/boot/js/bootstrap.min.js" defer></script>
    <link type="text/css" rel="stylesheet" href="/boot/fonts/glyphicons-halflings-regular.ttf">
    <link type="text/css" rel="stylesheet" href="/css/sticky-footer.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css">

    <title>Sharing Connections | Home</title>
</head>

<body>
    <div class='navbar navbar-default navbar-fixed-top'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <div class='navbar-brand'>
                    <a id='logo' href='/pages/home/home1.html'><img id='logoImg' src="/images/SC_logo.png" alt="Sharing Connections Logo"></img>
                    </a>
                </div>
            </div>
            <ul class="nav nav-pills navbar-right custom-navbar">
                <li role="presentation"><a href="/pages/home/home1.html">Home</a></li>
                <li role="presentation" class="active"><a href="/pages/schedule/schedule1.html">Schedule</a></li>
                <li role="presentation"><a href="/pages/reports/report1.html">Reports</a></li>
                <li role="presentation" class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Accounts <span class="caret"></span>
    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/pages/admin/admin1.html">Settings</a></li>
                        <li><a href="/index.html">Logout</a></li>
                    </ul>
                </li>
                <li role="presentation"><a href="/pages/admin/admin1.html">Admin</a></li>
            </ul>
        </div>
    </div>

    <div class='container white-container'>

        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h2>Schedule</h2>
                <p>Select a pickup from the list below to edit. To add a new donation click 'Add New Pickup Day.'</p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-5 col-xs-offset-1">
                <a href="/pages/schedule/schedule2.html">
                    <btn class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add New Pickup Day</btn>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Pickup Quantity</th>
                            <th>Towns</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tue April 5</td>
                            <td>6 Pickups</td>
                            <td>Oak Brook, Lombard, Villa Park</td>
                        </tr>
                        <tr onclick="window.document.location='/pages/schedule/schedule3.html';">
                            <td>Tue April 12</td>
                            <td>4 Pickups</td>
                            <td>Lisle, Naperville, Downers Grove, Rockford, Glen Ellyn, ...</td>
                        </tr>
                        <tr>
                            <td>Fri April 15</td>
                            <td>No Pickups</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Fri April 22</td>
                            <td>1 Pickup</td>
                            <td>Westmont</td>
                        </tr>
                        <tr>
                            <td>Tue May 3</td>
                            <td>No Pickups</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Thu May 5</td>
                            <td>3 Pickups</td>
                            <td>Woodridge, Lemont</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class='footer'>
        <div class="container">
            <div class='col-xs-4 col-md-4'>
                &copy; 2016
            </div>
            <div class='col-xs-4 col-xs-offset-4 col-md-1 col-md-offset-7'>
                <a href='/pages/about.html'>About</a>
            </div>
        </div>
    </div>
</body>

</html>
