<!DOCTYPE html>

<head>
</head>

<body>

    <%= render 'layouts/navbar' %>
    <div class='container white-container'>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-1">
                <h4>Welcome, Nicholas!</h4></div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h2>Pending Pickups</h2>
                <p>Select a pickup from the list below to edit. To add a new pickup click 'Add New Pickup'</p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-5 col-xs-offset-1">
                <a href="/home/home2"><btn class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add New Pickup</btn></a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <table class="table table-hover table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Last Name</th>
                            <th>Town</th>
                            <th>Item Quantity</th>
                            <th>Item Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr onclick="window.document.location='/home/home3';">
                            <td>Krieger</td>
                            <td>Naperville</td>
                            <td>7 items</td>
                            <td>Lightly used dining table, 6 chairs in good condition</td>
                        </tr>
                        <tr>
                            <td>Dust</td>
                            <td>Lisle</td>
                            <td>3 items</td>
                            <td>Young adult bed frame, black bookshelf, black tall dresser</td>
                        </tr>
                        <tr>
                            <td>Falimirski</td>
                            <td>Downers Grove</td>
                            <td>12 items</td>
                            <td>Sofa (pullout bed), 2 small lamps, 1 new towel set, 4 cha...</td>
                        </tr>
                        <tr>
                            <td>Smith</td>
                            <td>Rockford</td>
                            <td>1 item</td>
                            <td>Dresser brown, slight scuffing on right side</td>
                        </tr>
                        <tr>
                            <td>Huizenga</td>
                            <td>Villa Park</td>
                            <td>5 items</td>
                            <td>Cleaning supplies (windex, scrub brush, and towels)</td>
                        </tr>
                        <tr>
                            <td>Drazenovic</td>
                            <td>Bolingbrook</td>
                            <td>6 items</td>
                            <td>White bookshelf, kitchen table, 4 chairs (with table), bro...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</body>

</html>
