<!DOCTYPE html>

<head>
</head>

<body>
    <%= render 'layouts/navbar' %>

    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 well">

                <p class="text-center">Select a pickup date to generate a PDF report.</p>

                <form>
                    <div class="form-group">
                        Pickup Day:
                        <select class="form-control">
                            <option value="May 5">May 5</option>
                            <option value="May 3">May 3</option>
                            <option value="April 22">April 22</option>
                            <option value="April 15">April 15</option>
                            <option value="April 12">April 12</option>
                            <option value="April 5">April 5</option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                        Save As:
                        <input type="text" class="form-control" placeholder="example.pdf">
                    </div>
                    <div class="form-group">
                        <a href="/reports/report1">
                            <btn class="btn btn-success btn-wide extra-right-margin">OK</btn>
                        </a>
                        <a href="/reports/report1">
                            <btn class="btn btn-danger btn-wide">Cancel</btn>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>
