<!DOCTYPE html>

<head></head>

<body>
    <%= render 'layouts/navbar' %>
    <div class="container white-container">
        <br />
        <div class="row">
            <div class="col-xs-3 col-xs-offset-2">
                <a href="/reports/report2">
                    <btn class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-save-file"></span>&nbsp;&nbsp;Export Donors</btn>
                </a>
            </div>
            <div class="col-xs-5">
                <p class="text-lg">Export monthly donor data in CSV form</p>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-xs-3 col-xs-offset-2">
                <a href="/reports/report3">
                    <btn class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Truck Report</btn>
                </a>
            </div>
            <div class="col-xs-5">
                <p class="text-lg">Pickup schedule for the day</p>
            </div>
        </div>
        <br />
        <br />
    </div>

</body>

</html>
