<div class='footer'>
    <div class="container">
        <div class='col-xs-4 col-md-4'>
            &copy; 2016
        </div>
        <div class='col-xs-4 col-xs-offset-4 col-md-1 col-md-offset-7'>
            <a href='/about.html'>About</a>
        </div>
    </div>
</div>
<script>
// borrowed from: https://gist.github.com/daverogers/5375778
$(document).ready(function() {
	// get current URL path and assign 'active' class
	var pathname = window.location.pathname;
	$('.nav > li > a[href="'+pathname+'"]').parent().addClass('active');
})
</script>