<div class='navbar navbar-default navbar-fixed-top'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <div class='navbar-brand'>
                    <a id='logo' href='/index.html'><img id='logoImg' src="/assets/SC_logo.png" alt="Sharing Connections Logo"></img>
                    </a>
                </div>
            </div>
        </div>
    </div>
