<div class='navbar navbar-default navbar-fixed-top'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <div class='navbar-brand'>
                    <a id='logo' href='/home/home1'><img id='logoImg' src="/assets/SC_logo.png" alt="Sharing Connections Logo"></img>
                    </a>
                </div>
            </div>
            <ul class="nav nav-pills navbar-right custom-navbar">
                <li role="presentation" class="active"><a href="/home/home1">Home</a></li>
                <li role="presentation"><a href="/schedule/schedule1">Schedule</a></li>
                <li role="presentation"><a href="/reports/report1">Reports</a></li>
                <li role="presentation" class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Accounts <span class="caret"></span>
    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/admin1">Settings</a></li>
                        <li><a href="/">Logout</a></li>
                    </ul>
                </li>
                <li role="presentation"><a href="/admin/admin1">Admin</a></li>
            </ul>
        </div>
    </div>
