<%=render 'layouts/navbar' %>
 <div class="container white-container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
          <h2>Reports</h2>
          <p>Select an option below to export a report.</p>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-xs-offset-1">
          <a href="/reports/truck">
          <btn class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Truck Reports</btn>
          </a>
        </div>
        <div class="col-xs-6">
          <p class="text-lg">Export daily pickup schedule and MapQuest Routes report</p>
        </div>
    </div>
    <br>
    <div class="row" style="padding-bottom:30px;">
      <div class="col-xs-2 col-xs-offset-1">
        <a href="/reports/donor">
          <btn class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-save"></span>&nbsp;&nbsp;Export Donors</btn>
        </a>
      </div>
      <div class="col-xs-5">
        <p class="text-lg">Export monthly donor data to CSV file</p>
      </div>
    </div>
  </div>