<!DOCTYPE html>

<head>
    <!-- Viewport -->
    <meta name='viewport' content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Style links -->
    <link type='text/css' rel="stylesheet" href='/boot/css/bootstrap.min.css'>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js" defer></script>
    <script src="/boot/js/bootstrap.min.js" defer></script>
    <link type="text/css" rel="stylesheet" href="/boot/fonts/glyphicons-halflings-regular.ttf">
    <link type="text/css" rel="stylesheet" href="/css/sticky-footer.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css">

    <title>Sharing Connections | Home</title>
</head>

<body>
    <div class='navbar navbar-default navbar-fixed-top'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <div class='navbar-brand'>
                    <a id='logo' href='/pages/home/home1.html'><img id='logoImg' src="/images/SC_logo.png" alt="Sharing Connections Logo"></img>
                    </a>
                </div>
            </div>
            <ul class="nav nav-pills navbar-right custom-navbar">
                <li role="presentation"><a href="/pages/home/home1.html">Home</a></li>
                <li role="presentation"><a href="/pages/schedule/schedule1.html">Schedule</a></li>
                <li role="presentation"><a href="/pages/reports/report1.html">Reports</a></li>
                <li role="presentation" class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Accounts <span class="caret"></span>
    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/pages/admin/admin1.html">Settings</a></li>
                        <li><a href="/index.html">Logout</a></li>
                    </ul>
                </li>
                <li role="presentation" class="active"><a href="/pages/admin/admin1.html">Admin</a></li>
            </ul>
        </div>
    </div>

    <!-- Begin main content -->
    <div class="container">
        <div class="row">
            <div class='col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 well'>
                <h4 class="text-center">Add New User</h4>
                <form>
                    <div class="form-group">
                        <label for="newUser">New User: </label>
                        <input type="text" class="form-control" id="newUser">
                    </div>
                    <div class="form-group">
                        <label for="email">Email: </label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="userType">User Type: </label>
                        <select class="form-control">
                            <option value="standard">Standard</option>
                            <option value="admin">Admin</option>
                            <option value="entry">Entry</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="password">Password: </label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <div class="form-group">
                        <label for="passConfirm">Confirm Password: </label>
                        <input type="password" class="form-control" id="passConfirm">
                    </div>
                    <div class="form-group">
                        <a href="admin1.html">
                            <btn class="btn btn-success btn-wide extra-right-margin">OK</btn>
                        </a>
                        <a href="admin1.html">
                            <btn class="btn btn-danger btn-wide">Cancel</btn>
                        </a>
                    </div>
                </form>

            </div>
        </div>

    </div>
    <div class='footer'>
        <div class="container">
            <div class='col-xs-4 col-md-4'>
                &copy; 2016
            </div>
            <div class='col-xs-4 col-xs-offset-4 col-md-1 col-md-offset-7'>
                <a href='/pages/about.html'>About</a>
            </div>
        </div>
    </div>
</body>

</html>
