<!-- Designed by Nicholas Drazenovic & Emily Huizenga -->
<!DOCTYPE html>

<head>
</head>

<body>
   <%= render 'layouts/navbar' %>

    <!-- Begin the main content -->
    <div class='container white-container'>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h2>Users</h2>
                <p>Select a user from the list below to edit. To add a new user click 'Add New User'</p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-5 col-xs-offset-1">
                <a href="/admin/admin2">
                    <btn class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add New User</btn>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <!-- Table of users -->
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr onclick="window.document.location='/admin/admin3';">
                            <td>profbill</td>
                            <td>wtkrieger@noctrl.edu</td>
                        </tr>
                        <tr>
                            <td>dreamh</td>
                            <td>jb@yahoo.com</td>
                        </tr>
                        <tr>
                            <td>Carrie</td>
                            <td>cp@sharingconnections.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>



</html>
