<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About the Team | CSC 495 Capstone | Project Haymaker</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Odyssey Pickup Assistant</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">

            </div>
            <!--/.navbar-collapse -->
        </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>About the Team</h1>
            <p>Our team consists of 13 senior computer science majors at North Central College fueled by coffee, energy drinks, and hopes of a successful project. Then, there will be some other cool wording here, but sometimes words are hard to come up with. So right now this is just more filler text.</p>
            <p><a class="btn btn-primary btn-lg" href="http://northcentralcollege.edu/home" target="_blank" role="button">Learn More About NCC &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Team 1</h2>
                <ul>
                    <li>Rachel R</li>
                    <li>Jennifer D</li>
                    <li>Nicholas D</li>
                    <li>Emily H</li>
                    <li>Mark P</li>
                    <li>Bilal A</li>
                    <li>Eric Z</li>
                </ul>
                <p><a class="btn btn-default" href="#" role="button">Learn more about Team 1 &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Team 2</h2>
                <ul>
                    <li>Nick O</li>
                    <li>Chase S</li>
                    <li>Charlie M</li>
                    <li>Kyle L</li>
                    <li>Gerardo P</li>
                </ul>
                <p><a class="btn btn-default" href="#" role="button">Learn more about Team 2 &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <img src="/assets/chippy.png">
            </div>
        </div>
    </div>
    <!-- /container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="./js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="/boot/js/bootstrap.min.js"></script>
</body>

</html>
