<%= render 'layouts/navbar' %>

<div class="container white-container">
    <div class="row" style="background-color:#eeeeee; display: flex; align-items:center;">
        <div class="col-lg-9">
            <h1>About the Team</h1>
            <p>Our team consists of 13 senior computer science majors all enrolled in the computer science capstone at North Central College. The goal of the capstone course is to provide students and opportunity to apply the many skills they have acquired during their undergraduate studies by participating as a member of a team to design, develop, and present a software solution to a substantive problem. This project has challenged the entire team as we have collectively tackled a new language in a short 10 weeks.</p>
            <p><a class="btn btn-primary btn-lg" href="http://northcentralcollege.edu/home" target="_blank" role="button">Learn More About NCC &raquo;</a></p>
        </div>
        <div class="col-lg-3">
            <center><img alt="Chippy Cardinal" src="/assets/chippy.png"></center>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h1><span class="glyphicon glyphicon-user"></span>&nbsp; Our Team Members</h1>
            <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Responsibilities</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="success">
                            <td>Bill M</td>
                            <td>The coolest guy on the team.</td>
                        </tr>
                        <tr>
                            <td>Bilal A</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Charlie M</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Chase S</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Emily H</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Eric Z</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Gerardo P</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Jennifer D</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Kyle L</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Mark P</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Nicholas D</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Nick O</td>
                            <td>Team 1 Scrum Master, Fullcalendar gem expert, schedule screens coder, about page coder</td>
                        </tr>
                        <tr>
                            <td>Rachel R</td>
                            <td></td>
                        </tr>
                        <tr class="info">
                            <td>William K</td>
                            <td>Professor, project product owner</td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <!--<div class="col-md-4">
            <img src="/assets/chippy.png">
        </div>-->
    </div>
</div>